@import url('https://fonts.cdnfonts.com/css/d-din');
@import url('https://cdn.jsdelivr.net/npm/typeface-poppins@1.1.13/index.min.css');

#focus-color-red{
    color:#f83838;

}
#focus-color-blue{
    color:#6565f8;

}
#focus-small-letter{
    font-size: 16px;
}
.rotate-class{
    transform: rotate(-10deg);
    width:50px;
}
.heading{
    display: flex;
    align-items: center;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 3000px;
    background-color: whitesmoke;    
}
h3{
    margin-bottom: 2px;
}
/* Define styles for different screen sizes */
/* For example: Mobile screens */
@media (max-width: 767px) {
    /* Add styles specific for mobile screens */
}

/* For example: Tablet screens */
@media (min-width: 768px) and (max-width: 991px) {
    /* Add styles specific for tablet screens */
}

/* For example: Desktop screens */
@media (min-width: 992px) {
    /* Add styles specific for desktop screens */
    .title{
	margin-top: 100px;
	margin-left: 180px;
    }
    .name1{
	/* color:#982026;	      */
	/* color:#182026;	     */
	/* color: orangered; */
	opacity: 0.7;
	font-size: 25px;
	font-family: 'D-DIN';
	/* font-family: 'Helvetica'; */
	/* font-family: 'Poppins'; */

	/* padding-bottom: 10px; */
	border-bottom: 1px dotted rgba(240, 80, 60, 0.5); /* 연한 색의 점 밑줄 */
	font-weight: bold;	     
	letter-spacing: 1.2px;
	text-transform: uppercase;
    }
    .name2{
	/* color:#182026; */
	opacity: 0.8;
	font-size: 27px;
	text-align: left;
	font-family: 'D-DIN';
	font-weight: bold;
	margin-left: 57px;
	text-transform: uppercase;
	letter-spacing: 1.4px;

    }
    .buttonStyle{
	font-family: 'D-DIN';
	/* border-radius: 4px; */
	padding: 5px 5px 5px 5px;
	/* font-family: 'Poppins'; */
	opacity: 0.7;	
	margin-left: 380px;
	letter-spacing: 0.2px;
	box-shadow: none;
    }
    #toggleButton0{
	margin-left: 444px;
    }    
    #toggleButton1{
	margin-left: 777px;
    }
    #toggleButton2{
	margin-left: 119px;
    }
    #toggleButton3{
	margin-left: 685px;
    }    
    #toggleButton4{
	margin-left: 287px;
    }
    #toggleButton5{
	margin-left: 177px;
    }
    #toggleButton6{
	margin-left: 201px;
    }
    #toggleButton7{
	margin-left: 119px;
    }
    #toggleButton8{
	margin-left: 637px;
    }        
    #toggleButton9{
	margin-left: 808px;
    }
    #toggleButton10{
	margin-left: 746px;
    }        
    #toggleButton11{
	margin-left: 830px;
    }
    #toggleButton12{
	margin-left: 696px;
    }            
        
    .buttonStyle1{
	font-family: 'D-DIN';
	/* border-radius: 4px; */
	padding: 5px 5px 5px 5px;
	/* font-family: 'Poppins'; */
	opacity: 0.7;	
	margin-left: 120px;
	letter-spacing: 0.2px;
	box-shadow: none;
    }    
    .foldable-content {
	display: none;
	margin-top:10px;
    }
    
    .foldable-content .header-title {
	display: block;
	/* color: #f29838; */
	color: #3d3e3c;	
	/* color:#182026;	 */
	width: 800px;
	margin-left: 470px; 
	font-family: 'D-DIN';
	/* font-family: 'Poppins';	 */
	opacity: 0.9;
	font-size: 17px;
	/* font-weight: bold; */
	text-transform: uppercase;
	letter-spacing: 0.8px;
	/* border-bottom: dotted 1px; */
	border-bottom:1px dotted rgba(114, 136, 136, 0.5);;	
    }
    .foldable-content .header-content {
	margin-left: 520px; 
	width: 750px;
	display: block;
	color: #727272;
	font-family: 'D-DIN';
	/* font-family: 'Poppins';  	 */
	opacity: 0.8;
	font-size: 16px;
	letter-spacing: 0.2px;	
	line-height:1.8;
    }
    .foldable-content .items {
	margin-left: 520px; 
	width: 800px;
	color: #828282;
	font-family: 'D-DIN';
	/* font-family: 'Poppins';  	 */
	opacity: 0.8;
	font-size: 17px;
	letter-spacing: 0.2px;	
    }    
    .foldable-content span.item1 {
	/* /\* color: #f83838; *\/ */
	/* color: #323238; */
	/* opacity: 0.8; */
	/* font-size: 14px; */
	/* text-align: left; */
	/* margin-top: 10px; */
	/* font-family: 'D-DIN'; */
	/* /\* font-family: 'Poppins';	 *\/ */
	/* font-weight: bold; */
	/* text-transform: uppercase; */
	/* /\* letter-spacing: 5px;	     	     	 *\/ */
	padding-left: 120px;
	color: #585858;
	display: block;
	opacity: 0.6;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;	
	font-weight: bold;
	font-family: 'D-DIN Condensed';
	text-transform: uppercase;
	letter-spacing: 2px;
	display:inline;
    }

    .foldable-content span.item1-value {
	padding-left:20px;
	color: #585858;
	opacity: 0.6;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;	     
	/* font-weight: bold; */
	/* font-family: 'D-DIN Condensed'; */
	font-family: 'Helvetica';	
	text-transform: uppercase;
	/* letter-spacing: 2px;	     	     	     	     	     	 */
    }
    .cinfo{
	margin-left: 360px;
	margin-top: 15px;
    }
    .foldable-content h1.main-title{
	display: block;
	color: #728888;
	margin-left: 470px;
	width:770px;
	font-family: 'D-DIN';
	opacity: 0.8;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom:1px dotted rgba(114, 136, 136, 0.5);;
    }
    .foldable-content h1.sub-title{
	display: block;
	color: #728888;
	margin-left: 470px;
	width:770px;
	font-family: 'D-DIN';
	opacity: 0.8;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	/* border-bottom:dotted; */
	border-bottom:1px dotted rgba(114, 136, 136, 0.5);;	
    }    
    .foldable-content p.main-content{
	margin-left: 508px;
	width: 740px;
	display: block;
	color: #828282;
	font-family: 'D-DIN';
	opacity: 0.8;
	font-size: 16px;
	letter-spacing: 0.2px;	
	line-height:1.8;	
    }
    .foldable-content p.sub-content{
	margin-left: 508px;
	width: 740px;
	display: block;
	color: #828282;
	font-family: 'D-DIN';
	opacity: 0.8;
	font-size: 16px;
	letter-spacing: 0.2px;	
	line-height:1.8;	
    }        
    /* 내부 버튼 */
    a button{
	border: 1px solid rgba(0, 0, 0, 0.3); /* 연한 검은색 테두리 */
	padding: 5px 5px 5px 5px;
	border-radius: 7px; /* 테두리를 둥글게 만듦 */
	margin-left: 505px; /* 좌측으로 300px 이동 */
	margin-top: 10px; /* 좌측으로 300px 이동 */	     
	font-family: 'D-DIN';
	color: #525252;
	background-color: navajowhite;
    }

    hr {
	/* 흐림 효과 */
	/* filter: blur(5px); /\* 흐림 정도 조절 *\/ */
	/* 다른 스타일 */
	margin-left:180px;
	width: 60%; /* hr 너비 */
	height: 1px; /* hr 높이 */
	background-color: #998; /* hr 색상 */
	border: none; /* hr 테두리 제거 */
    }
    hr.line {
	/* 흐림 효과 */
	/* filter: blur(5px); /\* 흐림 정도 조절 *\/ */
	/* 다른 스타일 */
	margin-left:180px;
	width: 60%; /* hr 너비 */
	height: 0.1px; /* hr 높이 */
	background-color: #998; /* hr 색상 */
	border: none; /* hr 테두리 제거 */
    }
    
    h1.section{
	/* margin-top: 40px; */
	margin-left: 180px;	     
	/* color: #182026; */
	color: #909996;	     
	/* display: block; */
	font-size: 23px;
	/* font-family: 'D-DIN'; */
	font-family: 'Helvetica'; 
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.px;	     
    }
    h1.inlineSection{
	/* margin-top: 40px; */
	margin-left: 180px;	     
	/* color: #182026; */
	color: #909996;	     
	display: inline;
	font-size: 23px;
	/* font-family: 'D-DIN'; */
	font-family: 'Helvetica'; 
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.px;	     
    }    
    .contents{
	margin-top: 20px;
	padding-left:350px;

    }
    .c1{
	/* padding-top:10px;	     	     	      */
	padding-left:120px;
	color: #383838;
	/* display: block; */
	opacity: 0.6;
	font-size: 24px;
	text-align: left;
	margin-top: 10px;
	/* margin-left: 10px;	 */
	font-family: 'D-DIN Condensed';	     
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;	     
    }
    .c1-small{
	/* padding-top:10px;	     	     	      */
	padding-left:120px;
	color: #383838;
	/* display: block; */
	opacity: 0.6;
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	/* margin-left: 10px;	 */
	font-family: 'D-DIN Condensed';	     
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;	     
    }    
    .c2{
	padding-left:120px;	     
	/* color: #f83838; */
	color: #484848;	
	display: block;
	opacity: 0.6;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	font-family: 'D-DIN Condensed';	     
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;	     
    }

    .c3{
	padding-left:120px;
	color: #585858;
	display: block;
	opacity: 0.6;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
	font-family: 'D-DIN Condensed';	     	     
	text-transform: uppercase;
	letter-spacing: 2px;	     
    }	 
    .c4{
	padding-left:120px;
	color: #585858;
	display: block;
	opacity: 0.6;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
	font-family: 'D-DIN Condensed';	     	     
	text-transform: uppercase;
	letter-spacing: 2px;	     
    }
    .additional{
	display:block;
	margin-bottom: 100px;
    }
    .additional h1{
	display: block;
	color: #828888;
	margin-left: 505px; /* 좌측으로 300px 이동 */
	font-family: 'D-DIN';	     	     	     
	opacity: 0.6;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;	     	     
    }
    /* 테이블  */
    .tableContainer {
	margin-left: 505px; /* 좌측으로 300px 이동 */
	width: 550px;
    }
    table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px; /* 여러 테이블 사이의 간격을 위한 마진 설정 */
    }
    th, td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
    }
    th {
	background-color: #f2f2f2;
    }
}

